# Default values for gitlab-chart.
# This is a YAML-formatted file.

global:
  workhorse:
    serviceName: "gitlab"
  time_zone: {{ TZ }}
  edition: ce
  ingress:
    enabled: false
    configureCertmanager: false
  hosts:
    domain: {{ app }}.{{ domain }}
    https: true
  enterpriseImages:
    # Default repositories used to pull Gitlab Enterprise Edition images.
    # See the image.repository and workhorse.repository template helpers.
    migrations:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ee
    sidekiq:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-sidekiq-ee
    toolbox:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ee
    webservice:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-webservice-ee
    workhorse:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-workhorse-ee
    geo-logcursor:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-geo-logcursor
  communityImages:
    # Default repositories used to pull Gitlab Community Edition images.
    # See the image.repository and workhorse.repository template helpers.
    migrations:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ce
    sidekiq:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-sidekiq-ce
    toolbox:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ce
    webservice:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-webservice-ce
    workhorse:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-workhorse-ce
  # This exists to support template handling
  psql:
    knownDecompositions:
      - main
      - ci
      - embedding
  clickhouse:
    enabled: false
    # main:
    #   username: gitlab
    #   password:
    #     secret:
    #     key:
    #   database: gitlab_clickhouse_main_production
    #   url:

    initialRootPassword: 
        secret: RELEASE-gitlab-initial-root-password
        key: {{ password }}

nginx-ingress:
  enabled: false

gitlab-runner:
  enabled: {{ gitlab_runner_enabled }}

certmanager:
  installCRDs: false
  install: false
  rbac:
    create: false